$colors: (
        primary:#005Dff,
        primary-light: lighten(#005Dff, 40%),
        primary-dark: darken(#005Dff, 40%),
        accent: #fff6bb
);

$padding: 15px;
$borders: 15px;

@function color($color-name) {
  @return map-get($colors, $color-name)
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
